*.pkl
*.pdf
*.png
*.hdf
.ipynb_checkpoints/
*__pycache__/
*.DS_Store
*.npy
*.npz
*.mp4
*.m4a
*.json
*.bak
*.out
*.zip
*.tar.gz
*.so
*.o
chancapmc/build/*.7
*.bin
data_old/

# Add exceptions to include data files
!data/initial/*.hdf
!data/LOD/*.json
!data/misc/*.json
!data/trained-networks/*.npy
!data/trained-networks/min_max-thomasRecommendedTraining.hdf 
